<!DOCTYPE html>
<html>

<head>
    <title></title>

    <style>
    </style>

    <script type="module">
        import { html, render } from "https://unpkg.com/lit-html?module";

        async function start() {
            const data = await fetch("/template.json").then(r => r.json());
            const items = Object.values(data).flat();

            render(html`
                <h1>gh/zigistry/zigref</h1>

                <details>
                    <summary>Constants/Variables</summary>
                    ${items
                    .filter(i => i.type === "variable")
                    .map(i => html`
                            <a href="#">${i.name}</a><br>
                        `)}
                </details>

                <details>
                    <summary>Functions</summary>
                    ${items
                    .filter(i => i.type === "function")
                    .map(i => html`
                            <a href="#">${i.name}</a><br>
                        `)}
                </details>

                <details>
                    <summary>Tests</summary>
                    ${items
                    .filter(i => i.type === "test")
                    .map(i => html`
                            <a href="#">${i.name}</a><br>
                        `)}
                </details>
            `, document.getElementById("main"));
        }

        start();
    </script>
</head>

<body>
    <div id="main"></div>
</body>

</html>