html,
body {
    margin: 20px;
}
.main_hr {
    border: none;
    border-top: 2px dotted #000;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 0 0 20px 0;
}

.item_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-items: start;
}

@media (max-width: 900px) {
    .item_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .item_grid {
        grid-template-columns: 1fr;
    }
}
