html ,body {
  margin: 0;
  padding: 0;
}
.file_folder_name {
  font-size: small;
  cursor: pointer;
  width: 100%;
}

summary::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tcmlnaHQtaWNvbiBsdWNpZGUtY2hldnJvbi1yaWdodCI+PHBhdGggZD0ibTkgMTggNi02LTYtNiIvPjwvc3ZnPg==");
  margin-right: 12px;
  zoom: 0.6;
  display: inline-block;
  transition: transform 0.2s ease;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

summary:hover,
.file_folder_name:hover {
  background-color: #d7d7d7;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  width: 100%;
}

details[open]>summary::before {
  transform: rotate(90deg);
}

aside {
  width: 500px;
  height: calc(100vh - 40px);
  overflow: scroll;
  user-select: none;
  border-right:1px solid black;
}

main {
  height: calc(100vh - 40px);
  overflow-y: scroll;
  width: 100%;
}

.box {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  overflow-x: scroll;
  margin-bottom: 10px;
}

nav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid black;
}
 
.search_text {
  width: 400px;
}