
.file_folder_name {
  font-size: small;
  cursor: pointer;
  width: 100%;
}

summary::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tcmlnaHQtaWNvbiBsdWNpZGUtY2hldnJvbi1yaWdodCI+PHBhdGggZD0ibTkgMTggNi02LTYtNiIvPjwvc3ZnPg==");
  margin-right: 12px;
   zoom: 0.6; 
  display: inline-block;
  transition: transform 0.2s ease;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
summary:hover, .file_folder_name:hover {
  background-color: #d7d7d7;
}

summary::-webkit-details-marker {
  display: none;
}
details{
  width: 100%;
}

details[open]>summary::before {
  transform: rotate(90deg);
}

aside {
  width: 500px;
  height:100vh;
  overflow: scroll;
  user-select: none;
}
